.at_episode {
	display: flex;
}
.at_episode:last-of-type {
	margin-bottom: 0 !important;
}
.at_episode.at_layout-cover_left {
	flex-direction: row;
}
.at_episode.at_layout-cover_top {
	flex-direction: column;
}
.at_episode.at_layout-cover_right {
	flex-direction: row-reverse;
}

/* Cover */
.at_episode-cover {
	flex-grow: 0;
	flex-shrink: 0;
}
.at_episode-cover img {
	display: block;
	margin: 0;
}

/* Content */
.at_episode-content {
}
.at_episode-title {
	margin: 0;
}
.at_episode-description {
	margin: 0;
}
.at_episode-duration {
}

/* Load More */
.at_load-more-episodes {
}
